<html>
 <head>
 <title>Новак Джокович
 </title>
  <link rel="stylesheet" href="/views/css/f_t_p_item/item.css">
  <center><button class="buttonNoTap"><a href="/"><img src="/views/img/кнопка_на_главную.png" width="190" height="35"></a></button></center><hr color="orange" size="15"><center><h2><i>Новак Джокович</i></h2>
  </center>
 </head>
 <body bgcolor="FFFFCC">
 <hr color="orange" size="15">
  <pre>
   <center>
<font color="red" size="5">Новак Джокович: Ранний старт</font>
<font size="4">Уроженец Белграда, Новак Джокович начал тренировки в возрасте всего четырех лет. 
Талантливого мальчика через два года заметила довольно известная в Сербии теннисистка
Елена Генчич, и решила лично тренировать юное дарование. В 12 лет Джокович отправился в
знаменитую академию Пилича в Германии, где в течение четырех лет тренировался на более
профессиональном уровне. Практически одновременно с этим стартовала и международная
карьера Джоковича в качестве юниора, которая принесла ему сразу три победы в трех
разрядах на чемпионатах Европы.</font>


<font color="red" size="5">Профессиональная карьера теннисиста</font>
<font size="4">Новак Джокович стал выступать во взрослом туре с 2003 года, и уже через два года 
дебютировал на Australian Open – 2005. В этом же 2005 году он участвует на Ролан Гаррос,
Уимблдоне и US Open, и входит в число ТОП-100 по рейтингу АТР. Победы 2006 года позволяют
молодому спортсмену стать по итогам сезона 16-м среди самых сильных теннисистов мира.
2007 год также очень удачен для Джоковича – сразу пять почетных титулов, включая победы
на соревнования категории Мастерс, где он смог обойти Надаля, Роддика, Федерера и других
именитых теннисистов, обеспечивают сербу звание третьей ракетки в мире среди мужчин.
Победа на Australian Open в 2008 году, ряд других громких побед, первый титул за победу на
Итоговых соревнованиях АТР ставят Джоковича в один ряд с Энди Марреем, Рафаэлем
Надалем и Роджером Федерером. По итогам сезона – 2009 сербский спортсмен удерживает 
третью позицию в мировом зачете, тот же успех повторяет он и в следующем году.

Так он становится одним из самых великих теннисистов взяв более 20 турниров Большого
Шлема!</font>
   </center>
  </pre>
  <center>
   <img src="/views/img/Новак.jpg" border="10" class="img">
  </center>
 </body>
</html>