<html>
 <head>
 <title>Рафаэль Надаль
 </title>
 <link rel="stylesheet" href="/views/css/f_t_p_item/item.css">
  <center><button class="buttonNoTap"><a href="/"><img src="/views/img/кнопка_на_главную.png" width="190" height="35"></a></button></center><hr color="orange" size="15"><center><h2><i>Рафаэль Надаль</i></h2>
  </center>
 </head>
 <body bgcolor="FFFFCC">
 <hr color="orange" size="15">
  <pre>
   <center>
<font size="4">Гордость Испании и непревзойденный грунтовый король. Осенью 2013 года он стал теннисистом номер
 один в мире и по праву считается одним из самых выдающихся спортсменов современности.

<font color="red" size="5">Биография</font>
Рафаэль Надаль (Rafael Nadal Parera) родился на Майорке в городке Манакор в 1986 году. Его отец – 
бизнесмен средней руки, владелец ресторана и страхового агентства. Мама же всю жизнь была 
домохозяйкой, пока в 2007 году не возглавила благотворительный Фонд Рафаэля Надаля (основная
 деятельность - помощь нуждающимся, а также спонсорство спортивных секций для детей из бедных семей).
 У Рафаэля есть младшая сестра Мария Исабель.

Любовь к теннису мальчику привил дядя Тони. Тогда Рафе было всего лишь три года.

<font color="red" size="5">Начало спортивной карьеры</font>
В 1994 году восьмилетний Рафаэль выиграл региональный чемпионат среди теннисистов в возрасте 12 лет.
 Наряду с этим он прекрасно играл в футбол. На этот раз проглядывалось влияние второго дяди Мигеля
 Анхеля Надаля - известного футболиста, игрока “Барселоны” и “Мальорки”. Позже Рафа сделал выбор в 
 пользу каучукового мячика и стал серьезно заниматься большим теннисом. А когда мальчику исполнилось
 14 лет, теннисная федерация Испании настолько заинтересовалась им, что предложила оплатить 
 дальнейшее обучение юного дарования, однако для этого будущей звезде тенниса нужно было переехать в
 Барселону. Отец отказался от предложения, взяв на себя все расходы.

С 15 лет Рафаэль Надаль стал профессиональным теннисистом. В этой роли он первый раз победил Рамона 
Дальгадо. Таким образом, с 2001 начался его триумфальный путь к вершине славы.
</font>
   </center>
  </pre>
  <center><img src="/views/img/Надаль_фото.jpg" height="270" border="10" class="img"></center>
 </body>
</html>