<html>
 <head>
  <title>Роджер Федерер
  </title>
  <link rel="stylesheet" href="/views/css/f_t_p_item/item.css">
  <center><button class="buttonNoTap"><a href="/"><img src="/views/img/кнопка_на_главную.png" width="190" height="35"></a></button></center><hr color="orange" size="15"><center><h2><i>Роджер Федерер</i></h2>
  </center>
 </head>
 <body bgcolor="FFFFCC">
 <hr color="orange" size="15">
  <pre>
   <center>
    <font size="4"><font color="red" size="5">Биография Федерера</font>
Роджер Федерер появился на свет 8 августа 1981 г. в швейцарском городе Базель. 
Он рос и воспитывался в семье германо-швейцарца Роберта Федерера и африканерки 
Линет дю Ранд. У Роджера есть брат и сестра.

    <font color="red" size="5">Детство и юность</font>
Родители прививали Роджеру любовь к спорту еще с ранних лет. Когда мальчику 
едва исполнилось 3 года, он уже держал ракетку в руках. В то детское время 
Федерер также увлекался бадминтоном и баскетболом. Позже он признается, что эти
виды спорта помогли ему развить координацию глаз и увеличить зрительное поле.
Когда Роджеру исполнилось 16 лет он стал чемпионом Уимблдонского турнира среди юниоров.

К тому времени парень окончил 9 классов. Любопытно, что он не захотел получить
высшее образование. Вместо этого, он начал усиленно изучать иностранные языки.

     <font color="red" size="5">Спортивная карьера Роджера Федерера</font>
	 
Свой первый взрослый турнир Роджер выиграл 
в 2001 году в Милане, в этом же году на Уимблдоне теннисист обыграл Пита Сампраса.
За следующие два года он выиграл восемь теннисных турниров, из которых один «Мастерс»,
но пока ему не под силу «Большой шлем». В 2004 году он выигрывает Открытый 
чемпионат Австрии и Америки, а также Уимблдон. В этом году он возглавляет мировую 
классификацию теннисистом-профессионалов. Через четыре года он выигрывает пятый раз
Уимблдон. В 2008 его преследуют травмы, этот год оказался не таким удачным для 
спортсмена как прежние. На Олимпийских играх в Китае теннисист завоевал золото в 
парном разряде. А в 2010 году спортсмен выигрывает 16 титул «Большого шлема». В 
2012 году Роджер стает ракеткой мира и получает очередной титул «Большого шлема». 
А на Олимпийских играх в Лондоне спортсмен получает серебряную медаль. Перечислить 
все победы и успехи теннисиста с каждым годом все сложнее. Так, в январе 2015 
Роджер выигрывает свой тысячный матч.
    </font>
   </center>
  </pre>
  <center><img src="/views/img/Федерер_фото.jpg" height="270" border="10" class="img"></center>
 </body>
</html>