<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/css/404.css">
    <title>404</title>
</head>
<body>
    <div class="container">
        <div class="top">
            <button class="buttonNoTap">
                <a href="/"><img src="/views/img/кнопка_на_главную.png" width="190" height="35">
                </a>
            </button>
        </div>
        <center class="label">
            <h1>Ошибка 404: <i>Нет такой страницы!</i></h1>
        </center>
    </div>
</body>
</html>