<html>
 <head>
  <link rel="stylesheet" href="/views/css/famous_tennis_players.css">
  <title>Известные теннисисты
  </title>
 </head>
 <body bgcolor="FFFFCC">
  <table border="0" width="1300" height="500" cellspacing="0">
   <tr height="15%">
    <td width="20%" bgcolor="FFCC99" class="class2"><center><button class="buttonNoTap"><a href="/"><img src="views/img/кнопка_на_главную.png" width="190" height="35"></a></button></center></td>
	<td width="80%"><center><font size="6" face="comic sans ms">Известные теннисисты</font><center></td>
   </tr>
   <tr>
    <td bgcolor="FFCC99" class="class2"><center><a href="famous_tennis_players/novak_djokovic"><button class="button">Новак Джокович</button></a></center></td>
	<td rowspan="9"><center><font size="5" face="comic sans ms">
	 <pre class="class1">   Дорогие любители тенниса!
На этой странице вы можете ознакомиться с историей
великих теннисистов, прочитать познавательные ста-
тьи про них, узнать что-то новое про тениис. Мы на-
деемся, что вам понравится информация, размещённая 
на нашем сайте!
	 </pre></font></center>
	</td>
   </tr>
   <tr>
    <td bgcolor="FFCC99" class="class2"><center><a href="famous_tennis_players/rafael_nadal"><button class="button">Рафаэль Надаль</button></a></center></td>
   </tr>
   <tr>
    <td bgcolor="FFCC99" class="class2"><center><a href="famous_tennis_players/roger_federer"><button class="button">Роджер Федерер</button></a></center></td>
   </tr>
   <tr>
    <td bgcolor="FFCC99" class="class2"><center><a href="http://rustennistur.ru"><button class="button">Энди Маррей</button></a></center></td>
   </tr>
   <tr>
    <td bgcolor="FFCC99" class="class2"><center><a href="http://rustennistur.ru"><button class="button">Эшли Барти</button></a></center></td>
   </tr>
   <tr>
    <td bgcolor="FFCC99" class="class2"><center><a href="http://rustennistur.ru"><button class="button">Данил Медведев</button></a></center></td>
   </tr>
   <tr>
    <td bgcolor="FFCC99" class="class2"><center><a href="http://rustennistur.ru"><button class="button">Ига Швёнтек</button></a></center></td>
   </tr>
   <tr>
	<td bgcolor="FFCC99" class="class2"><center><a href="http://rustennistur.ru"><button class="button">Симона Халеп</button></a></center></td>
   </tr>
   <tr>
    <td bgcolor="FFCC99" class="class2"><center><a href="http://rustennistur.ru"><button class="button">Александр Зверев</button></a></center></td>
   </tr>
  </table> 
 </body>
</html>