<!DOCTYPE html>
<html lang="en">
 <head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="Content-Type" Content="text/html">
 <meta name="description" Content="Сайт про большой теннис">
 <meta name="keywords" Content="теннис, теннисный сайт, особенности тенниса, Теннис, теннисные фирмы, теннисные бренды, великие теннисисты, теннисные знаменитости, теннисные турниры, звёзды тенниса, теннисные турниры, спорт, tennis, tennis site, tennis stars, Tennis, tennis rules">
   <title>Всё про теннис</title>
   <link rel="stylesheet" href="/views/css/main.css">
 </head>
 <body background="/views/img/мяч3.jpeg">
 <div>
 <center>
  <table border="4" width="850" height="45" bgcolor="FFFF66" cellspacing="0" class="table">
   <tr>
    <td><center><button class="buttonNoTap"><img src="/views/img/теннис-фото.jpg" width="90" height="30"></button></center>
	</td>
    <td>
	 <center>
	  <a href="famous_tennis_players"><button class="button">Известные теннисисты</button>
	  </a>
	 </center>
	</td>
	<td>
	 <center>
	  <a href="http://rustennistur.ru"><button class="button">Теннисные турниры</button>
	  </a>
	 </center>
	</td>
	<td>
	 <center>
	  <a href="http://rustennistur.ru"><button class="button">Покрытия для кортов</button>
	  </a>
	 </center>
	</td>
	<td>
	 <center>
	  <a href="Теннисные_Бренды.php"><button class="button">Ведущие мировые бренды</button>
	  </a>
	 </center>
	</td>
   </tr>
  </table>
  </center>
  </div>
  <center>
   <h1>
    <font color="purple">Теннис - игра королей!
    </font>
   </h1>
  </center>
  <br>
  <div align="center">
   <b>
    <font size="+1" face="comic sans ms">
		Наш сайт посвящён теннису.  Здесь вы сможете побольше
		<br>
		узнать об этой замечательной игре, о её особенностях,
		<br>
		о известных теннисистах, о популярных мировых фирмах,  
		<br>
		производящих теннисные товары и ещё о многом другом !    
		<br>
		Присоединяйтесь к этому прекрасному обществу-обществу
		<br>
		теннисистов!
	</font>
   </b>
  </div>
  <center>
    <img src="/views/img/Надаль_фото.jpg" class="nadal" width="430" height="300" vspace="80" border="10">
    <br>
  </center>
 </body>
</html>